*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# ignore ctags
tags

# ignore the teams list
test-teams.csv
working-teams.csv

# ignore vim swap files
*.swp

# ignore the secrets directory
secrets/
